<template>
  <v-app-bar flat app color="white" class="underline">
    <slot name="logo" />

    <div style="height: 20px">
      <v-divider vertical />
    </div>

    <v-row no-gutters align="center" class="text--secondary">
      <slot name="items-left" />
    </v-row>
    <v-spacer />
    <slot name="items-right" />
  </v-app-bar>
</template>

<style lang="scss" scoped>
.underline {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12) !important;
}
</style>
