<template>
  <v-footer color="white" class="app-footer d-flex justify-space-between">
    <slot />
  </v-footer>
</template>

<style lang="scss" scoped>
.app-footer {
  border-top: 1px solid rgba(0, 0, 0, 0.12) !important;
  height: 45px;
}
</style>
