<template>
  <v-menu
    v-model="isOpen"
    open-on-hover
    :close-on-content-click="false"
    :min-width="width"
    offset-y
    @input="onMenuToggle"
  >
    <template v-slot:activator="{ on, attrs }">
      <v-btn
        text
        v-bind="attrs"
        v-on="on"
        class="ml-2 light-color font-weight-regular text-normal"
      >
        <slot />
        <v-icon small right> mdi-chevron-down </v-icon>
      </v-btn>
    </template>
    <v-list dense nav>
      <template v-for="item in items">
        <v-list-group
          v-if="!!item.items"
          v-model="item.active"
          :key="item.title"
          no-action
        >
          <v-list-item slot="activator">
            <v-list-item-content>
              <v-list-item-title class="light-color font-weight-regular">{{
                item.title
              }}</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
          <template v-slot:appendIcon>
            <v-icon small>mdi-chevron-down</v-icon>
          </template>
          <v-list-item
            v-for="subItem in item.items"
            :key="subItem.title"
            style="margin-left: -40px"
            :to="subItem.route ? { name: subItem.route } : undefined"
            @click="subItem.action ? $emit(subItem.action) : undefined"
            :href="subItem.url || undefined"
          >
            <v-list-item-content>
              <v-list-item-title
                class="light-color font-weight-regular"
                :class="subItem.route == 'coming-soon' ? 'line-through' : ''"
                >{{ subItem.title }}</v-list-item-title
              >
            </v-list-item-content>
          </v-list-item>
        </v-list-group>
        <v-list-item
          v-else
          :key="item.title"
          :to="item.route ? { name: item.route } : undefined"
          @click="item.action ? $emit(item.action) : undefined"
          :href="item.url || undefined"
          style="padding-left: 16px"
        >
          <v-list-item-content>
            <v-list-item-title
              class="light-color font-weight-regular"
              :class="item.route == 'coming-soon' ? 'line-through' : ''"
              >{{ item.title }}</v-list-item-title
            >
          </v-list-item-content>
        </v-list-item>
      </template>
    </v-list>
  </v-menu>
</template>

<script>
export default {
  name: "AppMenu",
  props: {
    items: {
      type: Array,
      default: () => [],
    },
    width: {
      type: Number,
      default: 130,
    },
  },
  data() {
    return {
      isOpen: false,
      menuItems: (this.items || []).map((item) => ({
        ...item,
        active: false,
      })),
    };
  },
  methods: {
    onMenuToggle(status) {
      if (!status) {
        this.menuItems.forEach((item) => {
          if (item.active) {
            item.active = false;
          }
        });
      }
    },
  },
};
</script>

<style lang="scss" scoped>
.light-color {
  color: var(--v-text--secondary);
}
.text-normal {
  text-transform: none;
}
.line-through {
  text-decoration: line-through;
}
</style>
