<template>
  <v-snackbar v-model="isActive" :top="true" style="z-index: 2000;">
    <v-row no-gutters align="center">
      <v-icon medium :color="color">{{ icon }}</v-icon>
      <div class="ml-4" v-html="dataMessage" />
    </v-row>
    <template v-slot:action="{ attrs }">
      <v-btn text :color="color" v-bind="attrs" @click="isActive = false"
        >Dismiss</v-btn
      >
    </template>
  </v-snackbar>
</template>

<script>
export default {
  name: "Notification",
  props: {
    type: {
      type: String,
    },
    message: {
      type: String,
    },
    subscribeToStore: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      isActive: false,
      dataType: null,
      dataMessage: null,
    };
  },
  watch: {
    message(value) {
      if (!this.subscribeToStore) {
        this.isActive = true;
        this.dataMessage = value;
      }
    },
    type(value) {
      if (!this.subscribeToStore) {
        this.dataType = value;
      }
    },
  },
  computed: {
    color() {
      switch (this.dataType) {
        case "success":
          return "green";
        case "warn":
          return "orange";
        case "error":
          return "red";
        case "info":
        default:
          return "blue";
      }
    },
    icon() {
      switch (this.dataType) {
        case "success":
          return "mdi-check-circle-outline";
        case "warn":
        case "error":
          return "mdi-alert-circle-outline";
        case "info":
        default:
          return "mdi-information-outline";
      }
    },
  },
  mounted() {
    if (this.subscribeToStore && this.$store) {
      this.$store.subscribe((mutation) => {
        if (mutation.type == "notification/showMessage") {
          this.isActive = true;

          const { type, message } = mutation.payload;
          this.dataType = type;
          this.dataMessage = message;
        }
      });
    }
  },
};
</script>
