<template>
  <div>
    <v-container class="text-center" fluid>
      <v-row class="mb-4">
        <v-col cols="12">
          <v-card>
            <v-toolbar dark color="blue">
              <slot name="toolbar-left"></slot>
              <v-spacer></v-spacer>
              <slot name="toolbar-middle">
                <v-toolbar-title
                  ><slot name="toolbar-title"></slot
                ></v-toolbar-title>
              </slot>
              <v-spacer></v-spacer>
              <slot name="toolbar-right">
                <slot name="toolbar-actions">
                  <v-tooltip
                    v-for="action in toolbarActionItems"
                    :key="action.name"
                    bottom
                  >
                    <template v-slot:activator="{ attrs, on }">
                      <v-btn icon @click="$emit(action.name)"
                        ><v-icon v-on="on" v-bind="attrs">{{
                          action.icon
                        }}</v-icon></v-btn
                      >
                    </template>
                    {{ action.tooltip }}
                  </v-tooltip>
                </slot>
              </slot>
            </v-toolbar>

            <v-card-title>
              <slot name="header"></slot>
            </v-card-title>

            <v-row>
              <v-col cols="12">
                <slot name="body"></slot>
              </v-col>
            </v-row>

            <v-card-actions>
              <slot name="actions"></slot>
            </v-card-actions>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
export default {
  name: "BasePage",
  props: {
    toolbarActions: {
      type: Array,
      default: () => [],
    },
  },
  computed: {
    // processing the props to establish fallback icons
    toolbarActionItems: function () {
      return this.toolbarActions.map((e) => ({
        icon: "mdi-" + e.name,
        ...e,
      }));
    },
  },
};
</script>
