<template>
  <v-dialog :value="smallScreen && !acceptMessage" width="500">
    <v-card>
      <v-card-title class="headline grey lighten-2">
        Small screen size detected
      </v-card-title>

      <v-card-text class="mt-2">
        This app is not designed or optimized for mobile screens. For a better
        experience we suggest using a laptop or a tabel in landscape mode.
      </v-card-text>

      <v-divider></v-divider>

      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="primary" text @click="acceptMessage = true">
          I understand
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  data() {
    return { acceptMessage: false, windowWidth: window.innerWidth, txt: "" };
  },

  mounted() {
    this.$nextTick(() => {
      window.addEventListener("resize", this.onResize);
    });
  },

  beforeDestroy() {
    window.removeEventListener("resize", this.onResize);
  },

  computed: {
    smallScreen() {
      return this.windowWidth <= 960;
    },
  },

  methods: {
    onResize() {
      this.windowWidth = window.innerWidth;
    },
  },
};
</script>
