<template>
  <div style="position: relative">
    <v-skeleton-loader
      v-if="loading"
      type="table: table-heading, table-thead, table-tbody, table-tfoot"
    ></v-skeleton-loader>
    <v-data-table
      v-else
      :value="value"
      :items="filteredRows"
      :headers="expandedHeaders"
      :options="options"
      :search="search"
      :item-key="itemKey"
      :item-class="itemClass"
      :sort-by="sortBy"
      :sort-desc="sortDesc"
      :show-expand="showExpand"
      :show-select="showSelect"
      :footer-props="{ 'items-per-page-options': rowsPerPageItems }"
      v-on="$listeners"
    >
      <template v-for="(index, name) in $scopedSlots" v-slot:[name]="data">
        <slot :name="name" v-bind="data"></slot>
      </template>

      <template slot="body.append">
        <tr>
          <td class="px-1" v-for="header in headers" :key="header.value">
            <v-text-field
              v-model="searchMap[header.value]"
              :label="header.text"
            >
              <template v-slot:append>
                <v-icon v-if="searchMap[header.value] == ''"
                  >mdi-magnify</v-icon
                >
              </template>
            </v-text-field>
          </td>
        </tr>
      </template>
    </v-data-table>
    <div v-if="!hideExportButtons" class="export-button-row">
      <excel-export
        v-if="enableExcelExport"
        :tableData="filteredRows"
        :tableHeaders="expandedHeaders"
        styles="margin-right: 12px"
        >Generate XLSX spreadsheet</excel-export
      >
      <egroup-export
        v-if="enableEgroupExport"
        :tableData="filteredRows"
        :hrIdKey="egroupExportHrIdKey"
        :emailKey="emailExportKey"
      ></egroup-export>
    </div>
  </div>
</template>

<style lang="scss">
.export-button-row {
  position: absolute;
  bottom: 8px;
  left: 12px;
}

.v-application .px-1 {
  padding-right: 16px !important;
  padding-left: 16px !important;
}
</style>

<script>
import ExcelExport from "./ExcelExport.vue";
import EgroupExport from "./EgroupExport.vue";

export default {
  name: "BaseTable",
  components: {
    "excel-export": ExcelExport,
    "egroup-export": EgroupExport,
  },
  props: {
    value: { type: Array },
    headers: { type: Array },
    items: { type: Array },
    noAutoformat: { type: Boolean, default: false },
    rowsPerPageItems: {
      type: Array,
      default() {
        return [25, 100, 250, { text: "All", value: -1 }];
      },
    },
    options: { type: Object, default: () => null },
    loading: { type: Boolean, default: false },
    search: { type: String, default: "" },
    egroupExportHrIdKey: { type: String, default: "hrId" },
    emailExportKey: { type: String, defafult: "email" },
    isColumnEditable: { type: Function, default: () => false },
    hideExportButtons: { type: Boolean, default: () => false },
    enableExcelExport: { type: Boolean, default: () => true },
    enableEgroupExport: { type: Boolean, default: () => false },
    itemKey: { type: String },
    itemClass: { type: String },
    sortBy: { type: String },
    sortDesc: { type: Boolean },
    showExpand: { type: Boolean, default: false },
    showSelect: { type: Boolean, default: false },
  },
  data() {
    return {
      searchMap: {},
      customizedPagination: null,
    };
  },
  computed: {
    filteredRows() {
      var items = [];
      this.items.forEach((e) => {
        var match = true;
        Object.keys(this.searchCriteria).forEach((key) => {
          match = match && this.doesMatch(this.searchCriteria[key], e[key]);
        });
        if (match) {
          items.push(e);
        }
      });
      this.$emit("filtered", items);
      return items;
    },
    expandedHeaders() {
      var headers = [];
      this.headers.forEach((h) => {
        if (h.class === undefined) {
          h.class = "px-1";
        }
        headers.push(h);
      });
      return headers;
    },
    searchCriteria() {
      var criteria = {};
      Object.keys(this.searchMap).forEach((key) => {
        if (this.searchMap[key].length > 0) {
          criteria[key] = this.searchMap[key];
        }
      });
      return criteria;
    },
  },
  mounted() {
    this.initColumnSearch();
  },
  methods: {
    initColumnSearch() {
      this.headers.forEach((element) => {
        this.$set(this.searchMap, element.value, "");
      });
    },
    doesMatch(needle, haystack) {
      return String(haystack).toLowerCase().indexOf(needle.toLowerCase()) > -1;
    },
    autoformat(cellValue) {
      if (
        this.noAutoformat === true ||
        cellValue === null ||
        cellValue === undefined
      ) {
        return cellValue;
      } else if (cellValue === +cellValue) {
        if (cellValue !== (cellValue | 0)) {
          return cellValue.toFixed(2);
        }
      } else if (typeof cellValue === "string" && cellValue.length > 0) {
        if (cellValue.charAt(0) >= "0" && cellValue.charAt(0) <= "9") {
          // If it doesn't start with a digit, we give up parsing it as a date.
          // Date.parse is nice to understand things like '02 February 2019' etc - but it also treats AACHEN-1 as a date!
          var timestamp = Date.parse(cellValue);
          if (!isNaN(timestamp)) {
            cellValue = new Date(timestamp)
              .toLocaleString()
              .replace("en-GB", { timeZone: "UTC" });
          }
        }
      }
      return cellValue;
    },
  },
};
</script>
